<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer class="footer footer-transparent d-print-none" th:fragment="footer">
    <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><a href="#" class="link-secondary">Documentation</a></li>
                    <li class="list-inline-item"><a href="#" class="link-secondary">Support: homi@homihq.com</a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" class="link-secondary" rel="noopener">Privacy</a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" class="link-secondary" rel="noopener">Terms</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        Copyright &copy; 2022-2023
                        <a href="." class="link-secondary">HOMI</a>.
                        All rights reserved.
                    </li>
                    <li class="list-inline-item">
                        <a href="./changelog.html" class="link-secondary" rel="noopener">
                            v0.0.2-beta16
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
