<head xmlns:th="http://www.thymeleaf.org" th:fragment="head(title)">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:replace="${title}">HOMI - Secure APIs in 5 minutes</title>
    <!-- CSS files -->
    <link href="/css/tabler.min.css?1668287865" rel="stylesheet"/>
    <link href="/css/tabler-flags.min.css?1668287865" rel="stylesheet"/>
    <link href="/css/tabler-payments.min.css?1668287865" rel="stylesheet"/>
    <link href="/css/tabler-vendors.min.css?1668287865" rel="stylesheet"/>
    <link href="/css/demo.min.css?1668287865" rel="stylesheet"/>
    <style>
        @import url('https://rsms.me/inter/inter.css');
        :root {
            --tblr-font-sans-serif: Inter, -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }
    </style>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">

</head>

